.dark {
 color: beige;
 background-color:rgb(164, 164, 179);
}

.table__cell--italic {
    font-style: italic;
}


.section__image {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    box-shadow: lavender;
    box-shadow: 5px 5px 8px 7px rgb(181, 181, 196);
    }


